.about-ngo{
    margin-top: 50px
}

.about-ngo-header{
    margin-top: 1em;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    top: 2.5em;
    left: 43%;
}